asgiref==3.11.1
brotli==1.2.0
cffi==2.0.0
colorama==0.4.6
coverage==7.14.1
cssselect2==0.9.0
Django==6.0.6
django-cors-headers==4.9.0
django-filter==25.2
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
et_xmlfile==2.0.0
fonttools==4.63.0
gunicorn==26.0.0
iniconfig==2.3.0
mysqlclient==2.2.8
openpyxl==3.1.5
packaging==26.2
pillow==12.2.0
pluggy==1.6.0
pycparser==3.0
pydyf==0.12.1
Pygments==2.20.0
PyJWT==2.13.0
pyphen==0.17.2
pytest==9.0.3
pytest-cov==7.1.0
pytest-django==4.12.0
python-dotenv==1.2.2
sqlparse==0.5.5
tinycss2==1.5.1
tinyhtml5==2.1.0
tzdata==2026.2
weasyprint==69.0
webencodings==0.5.1
zopfli==0.4.3
